<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lex-Song-Reco</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }}"" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename="vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="vendor/simple-line-icons/css/simple-line-icons.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/stylish-portfolio.min.css") }}" rel="stylesheet">

  </head>

  <body id="page-top">
    
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
      <div class="row">
      	<div class="col-lg-12">
       <h2>A Natural Language Approach to connect you to my playlist.</h2>
      <p class="lead mb-5">Enter a song/artist that you're listening to and I will recommend you songs from my own playlist that lexically closest to yours!</p>
      	</div>
      	</div>
      	<div class="row">
      	<div class="col-lg-12">
      	<form method="POST">
		  <div class="form-row align-items-center">
		    <div class="col-md-5">
		      <label class="sr-only" for="song">Song</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Song</div>
		      <input name="song" type="text" class="form-control mb-2 mb-sm-0" id="song" placeholder="How to Save a Life">
		    	</div>
		    </div>
		    <div class="col-md-5">
		      <label class="sr-only" for="artist">Artist</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Artist</div>
		        <input name="artist" type="text" class="form-control" id="artist" placeholder="The Fray">
		      </div>
		    </div>
		    <div class="col-md-2">
		      <button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="search">Submit</button>
		    </div>
		  </div>
		</form>
		</div>
		</div>
<!--
        <form method="POST">
        <div class="row">
        	<div class="col-lg-6">
		  <div class="form-group">
		    <label for="email"><h2 class="mb-4">Your Song:</h2></label>
		    <input name="song" type="song" class="form-control" id="song">
		  </div>
		  </div>
		  <div class="col-lg-6">
		  <div class="form-group">
		    <label for="artist"><h2 class="mb-4">The Artist:</h2></label>
		    <input name='artist' type="artist" class="form-control" id="artist">
		  </div>
		  </div>
		 </div>
		 <div class="row">
		  <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Submit</button>
		  </div>
		</form>
        -->
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="recos" style="display:{{ display }}">
    {% if scroll %}
	<script>
	    document.getElementById('{{ scroll }}').scrollIntoView();
	    // or
	    document.location.hash = '#' + '{{ scroll }}';
	</script>
	{% endif %}
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
          <h2>Your Song: {{ song_name }} ({{ artist_name }})</h2>
           {{ reco_df }}
          </div>
        </div>
        <div class="row">
      	<div class="col-lg-12">
      	<form method="POST">
		  <div class="form-row align-items-center">
		    <div class="col-md-8">
		      <label class="sr-only" for="username">Username</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Username</div>
		      <input name="username" type="text" class="form-control mb-2 mb-sm-0" id="username" placeholder="shahamfarooq">
		    	</div>
		    </div>
		    <!--
		    <div class="col-md-5">
		      <label class="sr-only" for="artist">Artist</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Artist</div>
		        <input name="artist" type="text" class="form-control" id="artist" placeholder="The Fray">
		      </div>
		    </div>-->
		    <div class="col-md-4">
		      <button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="playlist">Create Spotify Playlist</button>
		    </div>
		  </div>
		</form>
		</div>
		</div>
      </div>
    </section>

   <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/shahamfarooq">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/S-Farooq/">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Shaham Farooq 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js") }}""></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename="js/stylish-portfolio.min.js") }}"></script>

  </body>

</html>
