<!DOCTYPE html>
<html lang="en">

  <head>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110962916-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110962916-1');
	</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lex-Song-Reco</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }}"" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename="vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="vendor/simple-line-icons/css/simple-line-icons.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/stylish-portfolio.min.css") }}" rel="stylesheet">

  </head>

  <body id="page-top">
    
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
      <div class="row">
      	<div class="col-lg-12">

      	{% if display_alert %}
      	<div class="alert alert-danger" style="display:{{ display_alert }}">
		    <strong>Oops! Error:</strong> {{ err_msg }}
	    </div>
		{% endif %}
       <h2>A Natural Language Processing Approach to connect you to my playlist.</h2>
       <h5>Enter a song/artist that you're listening to and I will recommend you songs from my own playlist that are <i>lexically</i> closest to yours!<h5>
      
      	</div>
      	</div>
      	<div class="row">
      	<div class="col-lg-12">
      	
      	<form method="POST">
		  <div class="form-row align-items-center">
		    <div class="col-md-3">
		      <label class="sr-only" for="song">Song</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Song</div>
		      <input name="song" type="text" class="form-control" id="song" placeholder="Ex. How to Save a Life">
		    	</div>
		    </div>
		    <div class="col-md-3">
		      <label class="sr-only" for="artist">Artist</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Artist</div>
		        <input name="artist" type="text" class="form-control" id="artist" placeholder="Ex. The Fray">
		      </div>
		    </div>

		    <div class="col-md-4">
		      <div class="input-group mb-2 mb-sm-0">
		      <div class="input-group-addon">MyPlaylists</div>
		      	<select name="dbase" class="form-control" id="dbase">
				    {% for x in corpus_dict.keys() %}
					<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
					{% endfor %}
				  </select>
			  </div>
			</div>
			
		    <div class="col-md-2">
		      <button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="search">Submit</button>
		    </div>
		  </div>
		</form>
		</div>
		</div>
		<br><br>
		<div class="row">
      	<div class="col-lg-12">
      	<h5>Or I can recommend you songs based on any custom text (lyrics, poems, fiction, etc.):</h5>
      	<form method="POST">
		  <div class="form-row align-items-center">
		  <div class="col-md-12">
			    <textarea name="custom_text" maxlength="500" class="form-control" id="custom_text" rows="4" placeholder="Please enter 100 to 500 characters."></textarea>
			 
			 </div>
			 </div><br>
			<div class="form-row align-items-center">
			 <div class="col-md-6">
		    <div class="input-group mb-2 mb-sm-0">
		      <div class="input-group-addon">My Playlists</div>
		      	<select name="dbase" class="form-control" id="dbase">
				    {% for x in corpus_dict.keys() %}
					<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
					{% endfor %}
				  </select>
			  </div>
			</div>
			 <div class="col-md-6">
		      <button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="search_custom">Submit</button>
		      </div>
		   </div>
		</form>
		</div>
		</div>
<!--
        <form method="POST">
        <div class="row">
        	<div class="col-lg-6">
		  <div class="form-group">
		    <label for="email"><h2 class="mb-4">Your Song:</h2></label>
		    <input name="song" type="song" class="form-control" id="song">
		  </div>
		  </div>
		  <div class="col-lg-6">
		  <div class="form-group">
		    <label for="artist"><h2 class="mb-4">The Artist:</h2></label>
		    <input name='artist' type="artist" class="form-control" id="artist">
		  </div>
		  </div>
		 </div>
		 <div class="row">
		  <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Submit</button>
		  </div>
		</form>
        -->
      </div>
      <div class="overlay"></div>
    </header>

    {% if display %}
    <!-- About -->
    <section class="content-section bg-light" id="recos" style="display:{{ display }}">
    {% if scroll %}
	<script>
		{% if session.callback_playlist %}
	    document.getElementById('spotify_show').scrollIntoView();
	    {% else %}
	    document.getElementById('{{ scroll }}').scrollIntoView();
		{% endif %}
	</script>
	{% endif %}
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
          <h2>Your Song: {{ song_name }} ({{ artist_name }})</h2>
           {{ reco_df }}
          </div>
        </div>
        
        <div class="row">
      	<div class="col-lg-10 mx-auto text-center">
      	{% if not session.callback_playlist %}
      	<form method="POST">
      	
		  <div class="form-row align-items-center">
		  <!--
		    <div class="col-md-6">
		    	<button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="more">Show More Songs</button>
		     <label class="sr-only" for="username">Username</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Username</div>
		      <input name="username" type="text" class="form-control" id="username" placeholder="shahamfarooq">
		    	</div>
		    </div>
		    
		    <div class="col-md-5">
		      <label class="sr-only" for="artist">Artist</label>
		      <div class="input-group mb-2 mb-sm-0">
		        <div class="input-group-addon">Artist</div>
		        <input name="artist" type="text" class="form-control" id="artist" placeholder="The Fray">
		      </div>
		    </div>
		    <div class="col-md-6">
		      <button type="submit" class="btn btn-primary js-scroll-trigger" name="btn" value="playlist">Create Spotify Playlist</button>
		    </div>-->
		    <div class="col-md-12">
		      <button type="submit" class="btn btn-primary js-scroll-trigger btn-xl" name="btn" value="playlist">Create A Spotify Playlist</button>
		    </div>

		  </div>
		</form>
		{% else %}
		<div class="col-lg-10 mx-auto text-center" id="spotify_show">
			<h4> Your Spotify Playlist has been created for this set of reccomendations:</h4>{{ session.callback_playlist }}<br>
			<h5> Search another song!</h5>
		</div>
		{% endif %}
		</div>
		</div>

      </div>
    </section>
    {% endif %}

    {% if features %}
    <section class="content-section text-white">
    <div class="container text-center">
        <div class="row">
          	<div class="col-lg-12 mx-auto text-center">
    				<canvas id="myChart" width="600" height="400"></canvas>
    		</div>
    	</div>
    </div>
    </section>

    <!-- import plugin script -->   
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
		<script>
		   
			for (var i = 0, len = 4; i < len; i++) {
			   background_colors.push(getRandomColor());// I use @Benjamin method here
			}
		   // bar chart data

		   var data = {
			   labels : [{% for item in features %}
			                  "{{item}}",
			              {% endfor %}],
			   datasets : [
			   {% for song in user_song_values %}
				      {		label: '{{ song[0] }}',
				      		fillColor: background_colors, 
			                strokeColor: background_colors,
				         data : [{% for item in song[1:] %}
				                      {{item}},
				                    {% endfor %}],
				         borderWidth: 3
				      },
				{% endfor %}
			      ]
		   };

		   var ctx = document.getElementById("myChart").getContext("2d");

		   var myLineChart = new Chart(ctx, {
			    type: 'line',
			    data: data,
			    options: {
			        scales: {
			            xAxes: [{
			                ticks: {
			                    autoSkip: false
			                }
			            }],
			            yAxes: [{
					      scaleLabel: {
					        display: true,
					        labelString: 'Standard Deviations away from Mean'
					      }
					    }]
			        },
			        legend: {
			        	display: true,
			        	position: 'right'
			        }
			    }
			});
		 
		 
		</script>
	{% endif %}

   <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" target="_blank" href="https://twitter.com/shahamfarooq">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" target="_blank" href="https://github.com/S-Farooq/">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Shaham Farooq 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js") }}""></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename="js/stylish-portfolio.min.js") }}"></script>

  </body>

</html>
